# Default ignored files
/shelf/
**/out
/workspace.xml
../out/
# Datasource local storage ignored files
/../../../../../../:\Users\saumyakr1232\IdeaProjects\Infytq\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

